% my ($h) = @_;
% $h = $h<html>;
<!DOCTYPE html>
<html>
  <head>
    <title>Bailador App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  </head>
  <body>
    <h1>Bailador App</h1>
    <ol>
      <li><a href='/users'>Users</a></li>
      <li><a href='/developers'>Developers</a></li>
      <li><h3><%= $h<test> %></h3></li>
    </ol>
    <form action="/insert/developer" method="post">
      <input type="text" name="name"><input type="submit" value="New Developer">
    </form>
    <form action="/insert/admin" method="post">
      <input type="text" name="name"><input type="submit" value="New Admin">
    </form>
    <pre><%= $h<result> %></pre>
    <div>
      Version <%= $h<version> %>
    </div>
  </body>
</html>
